{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Nws-10</title>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Playfair+Display+SC:wght@900&family=Playfair+Display:ital,wght@0,800;1,800&family=Manrope:wght@800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css'><link rel="stylesheet" href="{% static 'css/style2.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="main__wrapper">
  <main>
    <h1>PSG Times</h1>
    <aside> 
      <div>
        <div class="issue"></div>
        <div class="date">{{date1}}</div>
        <div class="edition"></div>
      </div>
    </aside>


    {% for onedata in data.articles %}

    <h2 class="title--large main-title">{{onedata.title}}</h2>
    <div class="main-text multi-column">
      <p>{{onedata.description|truncatechars:1000}}</p>
    </div><a class="terrarium" href="{{onedata.url}}" target="_blank">
      
        
      </figure></a><a class="item-with-image plan span--2 long--2" href="{{onedata.url}}" target="_blank"><img src="{{onedata.urlToImage}}"/>


    {% endfor %}

<!--
    <div class="sidebar">
      <h3 class="title--big">Hot this month</h3><a class="codepen-item pie" href="https://codepen.io/oliviale/full/BaovGmg" target="_blank"><img class="pie__image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/showcase-pie.jpg"/>
        <div class="pie__subtitle">Food </div>
        <div class="pie__content">
          <h4>Pies for everyone!</h4>
          <p>No man is left behind. There's infinite pie with this one div and a repeating background.</p>
        </div></a><a class="sidebar-item captcha" href="https://codepen.io/oliviale/full/RwWdNRd" target="_blank">
        <h5>Frustrated designer runs amok with Captcha ideas</h5>
        <p>From Tic Tac Toe to solving meme-based questions, this is a different take on how web captchas should be. "I have not successfully picked out all photos of a truck on the first try. Something's gotta change," says the designer, who has requested to remain anonymous.</p></a><a class="sidebar-item slack-ui with-border" href="https://codepen.io/oliviale/full/GRpvNBa" target="_blank">
        <h5>Slack UI gets reverse engineered</h5>
        <p>Another valiant effort to reverse engineer a web app. However, the UI is repurposed to showcase Codepens instead of mock conversations. This is a codepen showcase inception situation.</p></a><a class="workout" href="https://codepen.io/oliviale/full/RwWKybY" target="_blank">
        <div class="workout__image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/showcase-workout.jpg" alt="Workout"/></div>
        <div class="workout__blurb">Always failing to keep track of your workouts? </div>
        <div class="workout__title">Use this tool!</div></a>
    </div>

  -->
      
  </main>
</div>
<!-- partial -->
  
</body>
</html>
