{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Accueil</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url 'france' %}">France</a>
          <a class="nav-link active" href="{% url 'usa' %}">USA</a>
          <a class="nav-link active" href="{% url 'world' %}">Monde</a>
          <a class="nav-link active" href="{% url 'necro' %}">Nécrologie</a>
          
        </div>
      </div>
      <img src="{% static "img/psg_news2.png" %}" class="rounded" alt="..." width="5%" height="5%">
    </div>
  </nav>

