{% extends 'main.html'%}

{% block content %}

{% for onedata in data.articles %}
<div class="col-sm">
<div class="card " style="width: 18rem;">
<img src="{{onedata.urlToImage}}" class="card-img-top" alt="{{onedata.source.name}}">
<div class="card-body ">
<h5 class="card-title ">{{onedata.title}}</h5>
<p class="card-text">{{onedata.description|truncatechars:150}}</p>
<a href="{{onedata.url}}" target="blank" class="btn btn-primary">Read</a>
    </div>
        </div>
            </div>
{% endfor %}

{% endblock content  %}